n8n/workflow-C-agente-ia.json
{
  "name": "CRM - C) WhatsApp + Agente IA (whatsapp.message.received)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-whatsapp-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1111111-1111-1111-1111-111111111111",
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "crm-whatsapp-message"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const secret = $env.WEBHOOK_SECRET;\nif (secret) {\n  const crypto = require('crypto');\n  const raw = JSON.stringify($json.body || {});\n  const header = ($json.headers && $json.headers['x-crm-signature']) || '';\n  const got = header.replace(/^sha256=/,'');\n  const expected = crypto.createHmac('sha256', secret).update(raw).digest('hex');\n  if (got !== expected) throw new Error('HMAC invalido');\n}\nreturn [{ json: $json.body }];"
      },
      "id": "c2222222-2222-2222-2222-222222222222",
      "name": "Verifica HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.CRM_API_URL}}/contacts?search={{ encodeURIComponent($json.data.remoteJid.replace('@s.whatsapp.net','')) }}&size=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.CRM_TOKEN}}" }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Buscar contato no CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.OPENAI_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Voce e um atendente de CRM. Responda de forma cordial, objetiva e em portugues do Brasil. Dados do contato consultado: {{ JSON.stringify($('Buscar contato no CRM').first().json.content[0] || {}) }}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{$('Webhook IN').first().json.body.data.text}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "c4444444-4444-4444-4444-444444444444",
      "name": "OpenAI gera resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.CRM_API_URL}}/whatsapp/conversations/{{$('Webhook IN').first().json.body.data.conversationId}}/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.CRM_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{$json.choices[0].message.content}}\"\n}",
        "options": {}
      },
      "id": "c5555555-5555-5555-5555-555555555555",
      "name": "Responder via CRM (WhatsApp)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": {}
      },
      "id": "c6666666-6666-6666-6666-666666666666",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1260, 300]
    }
  ],
  "connections": {
    "Webhook IN": { "main": [[{ "node": "Verifica HMAC", "type": "main", "index": 0 }]] },
    "Verifica HMAC": { "main": [[{ "node": "Buscar contato no CRM", "type": "main", "index": 0 }]] },
    "Buscar contato no CRM": { "main": [[{ "node": "OpenAI gera resposta", "type": "main", "index": 0 }]] },
    "OpenAI gera resposta": { "main": [[{ "node": "Responder via CRM (WhatsApp)", "type": "main", "index": 0 }]] },
    "Responder via CRM (WhatsApp)": { "main": [[{ "node": "200 OK", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "c1c1c1c1-c1c1-c1c1-c1c1-c1c1c1c1c1c1"
}
