n8n/workflow-D-supabase-sync.json
{
  "name": "CRM - D) Sync para Supabase (todos os eventos)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-to-supabase",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1111111-1111-1111-1111-111111111111",
      "name": "Webhook IN",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "crm-to-supabase"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// HMAC opcional + extrai event/tenant/data/delivery em campos planos.\nconst secret = $env.WEBHOOK_SECRET;\nconst headers = $json.headers || {};\nconst body = $json.body || {};\nif (secret) {\n  const crypto = require('crypto');\n  const raw = JSON.stringify(body);\n  const got = (headers['x-crm-signature'] || '').replace(/^sha256=/,'');\n  const expected = crypto.createHmac('sha256', secret).update(raw).digest('hex');\n  if (got !== expected) throw new Error('HMAC invalido');\n}\nreturn [{\n  json: {\n    event: body.event,\n    tenantId: body.tenantId,\n    occurredAt: body.occurredAt,\n    deliveryId: headers['x-crm-delivery'] || null,\n    data: body.data,\n    raw: body\n  }\n}];"
      },
      "id": "d2222222-2222-2222-2222-222222222222",
      "name": "Parse + HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/events_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Profile", "value": "crm_sync" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"{{$json.event}}\",\n  \"tenant_id\": \"{{$json.tenantId}}\",\n  \"delivery_id\": \"{{$json.deliveryId}}\",\n  \"occurred_at\": \"{{$json.occurredAt}}\",\n  \"payload\": {{ JSON.stringify($json.raw) }}\n}",
        "options": {}
      },
      "id": "d3333333-3333-3333-3333-333333333333",
      "name": "Append events_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c-evt",
              "leftValue": "={{$('Parse + HMAC').first().json.event}}",
              "rightValue": "contact.",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4111111-4111-4111-4111-411111111111",
      "name": "Eh evento de contato?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [860, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/contacts?on_conflict=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Profile", "value": "crm_sync" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{$('Parse + HMAC').first().json.data.id}}\",\n  \"tenant_id\": \"{{$('Parse + HMAC').first().json.tenantId}}\",\n  \"name\": \"{{$('Parse + HMAC').first().json.data.name}}\",\n  \"email\": \"{{$('Parse + HMAC').first().json.data.email}}\",\n  \"phone\": \"{{$('Parse + HMAC').first().json.data.phone}}\",\n  \"whatsapp\": \"{{$('Parse + HMAC').first().json.data.whatsapp}}\",\n  \"status\": \"{{$('Parse + HMAC').first().json.data.status}}\",\n  \"source\": \"{{$('Parse + HMAC').first().json.data.source}}\",\n  \"company_name\": \"{{$('Parse + HMAC').first().json.data.companyName}}\",\n  \"owner_name\": \"{{$('Parse + HMAC').first().json.data.ownerName}}\",\n  \"raw\": {{ JSON.stringify($('Parse + HMAC').first().json.data) }},\n  \"synced_at\": \"{{$now}}\"\n}",
        "options": {}
      },
      "id": "d4222222-4222-4222-4222-422222222222",
      "name": "Upsert contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "d-evt",
              "leftValue": "={{$('Parse + HMAC').first().json.event}}",
              "rightValue": "deal.",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5111111-5111-5111-5111-511111111111",
      "name": "Eh evento de deal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [860, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/deals?on_conflict=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Profile", "value": "crm_sync" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.id) || $('Parse + HMAC').first().json.data.id }}\",\n  \"tenant_id\": \"{{$('Parse + HMAC').first().json.tenantId}}\",\n  \"title\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.title) || $('Parse + HMAC').first().json.data.title }}\",\n  \"value\": {{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.value) || $('Parse + HMAC').first().json.data.value || 0 }},\n  \"currency\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.currency) || $('Parse + HMAC').first().json.data.currency || 'BRL' }}\",\n  \"pipeline_name\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.pipelineName) || $('Parse + HMAC').first().json.data.pipelineName }}\",\n  \"stage_name\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.stageName) || $('Parse + HMAC').first().json.data.stageName }}\",\n  \"contact_id\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.contactId) || $('Parse + HMAC').first().json.data.contactId }}\",\n  \"contact_name\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.contactName) || $('Parse + HMAC').first().json.data.contactName }}\",\n  \"status\": \"{{ ($('Parse + HMAC').first().json.data.deal && $('Parse + HMAC').first().json.data.deal.status) || $('Parse + HMAC').first().json.data.status }}\",\n  \"raw\": {{ JSON.stringify($('Parse + HMAC').first().json.data) }},\n  \"synced_at\": \"{{$now}}\"\n}",
        "options": {}
      },
      "id": "d5222222-5222-5222-5222-522222222222",
      "name": "Upsert deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "p-evt",
              "leftValue": "={{$('Parse + HMAC').first().json.event}}",
              "rightValue": "payment.",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6111111-6111-6111-6111-611111111111",
      "name": "Eh evento de pagamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [860, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/payments?on_conflict=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Content-Profile", "value": "crm_sync" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{$('Parse + HMAC').first().json.data.id}}\",\n  \"tenant_id\": \"{{$('Parse + HMAC').first().json.tenantId}}\",\n  \"asaas_id\": \"{{$('Parse + HMAC').first().json.data.asaasId}}\",\n  \"description\": \"{{$('Parse + HMAC').first().json.data.description}}\",\n  \"value\": {{$('Parse + HMAC').first().json.data.value || 0}},\n  \"billing_type\": \"{{$('Parse + HMAC').first().json.data.billingType}}\",\n  \"status\": \"{{$('Parse + HMAC').first().json.data.status}}\",\n  \"due_date\": \"{{$('Parse + HMAC').first().json.data.dueDate}}\",\n  \"payment_date\": \"{{$('Parse + HMAC').first().json.data.paymentDate}}\",\n  \"raw\": {{ JSON.stringify($('Parse + HMAC').first().json.data) }},\n  \"synced_at\": \"{{$now}}\"\n}",
        "options": {}
      },
      "id": "d6222222-6222-6222-6222-622222222222",
      "name": "Upsert payments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"event\": \"{{$('Parse + HMAC').first().json.event}}\"}",
        "options": {}
      },
      "id": "d7777777-7777-7777-7777-777777777777",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook IN": { "main": [[{ "node": "Parse + HMAC", "type": "main", "index": 0 }]] },
    "Parse + HMAC": { "main": [[{ "node": "Append events_log", "type": "main", "index": 0 }]] },
    "Append events_log": {
      "main": [
        [
          { "node": "Eh evento de contato?", "type": "main", "index": 0 },
          { "node": "Eh evento de deal?", "type": "main", "index": 0 },
          { "node": "Eh evento de pagamento?", "type": "main", "index": 0 },
          { "node": "200 OK", "type": "main", "index": 0 }
        ]
      ]
    },
    "Eh evento de contato?": { "main": [[{ "node": "Upsert contacts", "type": "main", "index": 0 }], []] },
    "Eh evento de deal?":    { "main": [[{ "node": "Upsert deals",    "type": "main", "index": 0 }], []] },
    "Eh evento de pagamento?": { "main": [[{ "node": "Upsert payments", "type": "main", "index": 0 }], []] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "d1d1d1d1-d1d1-d1d1-d1d1-d1d1d1d1d1d1"
}
